{{ define "main" }}
<section>
    <div id="window" class="window m-4">
        <div id="window-header" class="border-b flex justify-end cursor-move">
            <div class="p-1 cursor-pointer" onclick="hideWindow()">
                <div class="cross"></div>
            </div>
        </div>
        <div class="p-3">
            <div class="flex flex-wrap gap-4 max-w-62">
                {{ range .Paginator.Pages }}
                <article class="bordered w-18 h-18 p-2">
                    <a href="{{ .RelPermalink }}">
                        {{ with .Params.icon }}
                            {{ $img := $.Resources.GetMatch . }}
                            {{ if not $img }}
                                {{ $img = resources.Get . }}
                            {{ end }}
                            <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }} icon" class="w-full h-full object-cover">
                        {{ end }}
                    </a>
                </article>
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
        </div>
    </div>
    {{ partial "folders.html" . }}
</section>

{{ partial "window-script.html" . }}
{{ end }}