{{ define "main" }}
<article class="single-article container">
  <header class="article-header">
    {{ with .Params.image }}
    <div class="featured-image">
      {{ $img := $.Resources.GetMatch . }}
      {{ if not $img }}
        {{ $img = resources.Get . }}
      {{ end }}
      
      {{ if $img }}
        {{ $tiny := $img.Fill "400x225 webp q85" }}
        {{ $small := $img.Fill "800x450 webp q85" }}
        {{ $medium := $img.Fill "1200x675 webp q85" }}
        {{ $large := $img.Fill "1600x900 webp q85" }}
        <img 
          src="{{ $large.RelPermalink }}" 
          srcset="{{ $tiny.RelPermalink }} 400w, {{ $small.RelPermalink }} 800w, {{ $medium.RelPermalink }} 1200w, {{ $large.RelPermalink }} 1600w"
          sizes="(max-width: 800px) 100vw, 800px"
          width="1600" height="900"
          alt="{{ $.Title }}">
      {{ else }}
        <img src="{{ . | relURL }}" alt="{{ $.Title }}">
      {{ end }}
    </div>
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ if .Date }}
    <time class="article-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    {{ with .Params.tags }}
    <div class="article-tags">
      {{ range . }}
      <a href="{{ "tags/" | relURL }}{{ . | urlize }}" class="tag">#{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
  </header>
  <div class="article-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
