{{ define "main" }}
<section>
    <div id="window" class="window">
        <div id="window-header" class="border-b flex justify-end cursor-move">
            <div class="p-1 cursor-pointer" onclick="hideWindow()">
                <div class="cross"></div>
            </div>
        </div>
        <div class="p-3">
            <p>Hi, I'm Simo.</p>

            <p class="max-w-60">
                I do work as a web developer and I do like tinkering with projects
                <span class="animate-blink">_</span>
            </p>

            <div class="flex gap-2 mt-2">
                <a href="/projects/" class="btn">
                    Projects
                </a>
                <a href="/posts/" class="btn">
                    Blog
                </a>
            </div>
        </div>
    </div>
    {{ partial "folders.html" . }}
</section>

{{ partial "window-script.html" . }}
{{ end }}